<ion-content [fullscreen]="true" class="body">
  <div class="login">
    <div class="container sm:px-10">
      <div class="block xl:grid grid-cols-2 gap-4">
        <div class="hidden xl:flex flex-col min-h-screen">
          <a href="." class="-intro-x flex items-center pt-5">
            <img
              alt="Medika Logo"
              class="w-6"
              src="../../assets/template-admin/dist/images/logo.png"
            />
            <span class="text-white text-lg ml-3 font-medium"
              >Medika</span
            >
          </a>
          <div class="my-auto">
            <img
              alt="Illustration"
              class="-intro-x w-1/2 -mt-16"
              src="../../assets/template-admin/dist/images/illustration.svg"
            />
            <div
              class="-intro-x text-white font-medium text-4xl leading-tight mt-10"
            >
              A few more clicks to<br />sign in to your account.
            </div>
            <div class="-intro-x mt-5 text-lg text-white">
              Manage your medical history in one place.
            </div>
          </div>
        </div>

        <form
          (ngSubmit)="loginUser()"
          class="h-screen xl:h-auto flex py-5 xl:py-0 my-10 xl:my-0"
        >
          <div
            class="my-auto mx-auto xl:ml-20 bg-white xl:bg-transparent px-5 sm:px-8 py-8 xl:p-0 rounded-md shadow-md xl:shadow-none w-full sm:w-3/4 lg:w-2/4 xl:w-auto"
          >
            <h2
              class="intro-x font-bold text-gray-900 text-2xl xl:text-3xl text-center xl:text-left"
            >
              Sign In
            </h2>
            <div class="intro-x mt-2 text-gray-500 xl:hidden text-center">
              A few more clicks to sign in to your account. Manage your medical
              history in one place.
            </div>
            <div class="intro-x mt-8">
              <input
                type="text"
                class="intro-x login__input input input--lg border border-gray-300 block text-gray-600 w-full"
                placeholder="Email"
                [(ngModel)]="email"
                name="email"
              />
              <div class="relative mt-4">
                <input
                  [type]="passwordVisible ? 'text' : 'password'"
                  class="intro-x z-0 login__input input input--lg border border-gray-300 block text-gray-600 w-full pr-10"
                  placeholder="Password"
                  [(ngModel)]="password"
                  name="password"
                />
                <button
                  type="button"
                  class="absolute right-3 z-50 top-1/2 transform -translate-y-1/2 flex items-center"
                  (click)="togglePasswordVisibility()"
                  aria-label="Toggle password visibility"
                >
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    *ngIf="!passwordVisible"
                    fill="none"
                    viewBox="0 0 24 24"
                    stroke-width="1.5"
                    stroke="currentColor"
                    class="w-5 h-5 text-slate-500"
                  >
                    <path
                      stroke-linecap="round"
                      stroke-linejoin="round"
                      d="M3.98 8.223A10.477 10.477 0 0 0 1.934 12C3.226 16.338 7.244 19.5 12 19.5c.993 0 1.953-.138 2.863-.395M6.228 6.228A10.451 10.451 0 0 1 12 4.5c4.756 0 8.773 3.162 10.065 7.498a10.522 10.522 0 0 1-4.293 5.774M6.228 6.228 3 3m3.228 3.228 3.65 3.65m7.894 7.894L21 21m-3.228-3.228-3.65-3.65m0 0a3 3 0 1 0-4.243-4.243m4.242 4.242L9.88 9.88"
                    />
                  </svg>
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    *ngIf="passwordVisible"
                    fill="none"
                    viewBox="0 0 24 24"
                    stroke-width="1.5"
                    stroke="currentColor"
                    class="w-5 h-5 text-slate-500"
                  >
                    <path
                      stroke-linecap="round"
                      stroke-linejoin="round"
                      d="M2.036 12.322a1.012 1.012 0 0 1 0-.639C3.423 7.51 7.36 4.5 12 4.5c4.638 0 8.573 3.007 9.963 7.178.07.207.07.431 0 .639C20.577 16.49 16.64 19.5 12 19.5c-4.638 0-8.573-3.007-9.963-7.178Z"
                    />
                    <path
                      stroke-linecap="round"
                      stroke-linejoin="round"
                      d="M15 12a3 3 0 1 1-6 0 3 3 0 0 1 6 0Z"
                    />
                  </svg>
                </button>
              </div>
            </div>
            <div class="intro-x flex text-gray-700 text-xs sm:text-sm mt-4">
              <div class="flex items-center mr-auto">
                <input
                  type="checkbox"
                  class="input border mr-2"
                  id="remember-me"
                  [(ngModel)]="rememberMe"
                  name="rememberMe"
                />
                <label class="cursor-pointer select-none" for="remember-me"
                  >Remember me</label
                >
              </div>
              <a (click)="navigateToForgetPassword()" class="text-blue-600"
                >Forgot Password?</a
              >
            </div>
            <div class="intro-x mt-5 xl:mt-8 text-center xl:text-left">
              <button
                type="submit"
                class="button button--lg w-full xl:w-32 text-white bg-theme-1 xl:mr-3"
              >
                Login
              </button>
              <button
                type="button"
                class="button button--lg w-full xl:w-32 text-gray-700 border border-gray-300 mt-3 xl:mt-0"
                (click)="navigateToRegister()"
              >
                Sign up
              </button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</ion-content>
