<ion-content [fullscreen]="true" class="body">
  <div class="app">
    <!-- Mobile Menu -->
    <div class="mobile-menu md:hidden">
      <div class="mobile-menu-bar">
        <a href="javascript:;" class="flex mr-auto">
          <img alt="Logo" class="w-6" src="/assets/template-admin/dist/images/logo.png" />
        </a>
        <a href="javascript:;" id="mobile-menu-toggler">
          <i data-feather="bar-chart-2" class="w-8 h-8 text-white transform -rotate-90"></i>
        </a>
      </div>
      <ul class="border-t border-theme-24 py-5 hidden">
        <li *ngFor="let item of menuItems">
          <a
            [routerLink]="item.route"
            routerLinkActive="menu--active"
            [routerLinkActiveOptions]="{ exact: true }"
            class="menu"
          >
            <div class="menu__icon">
              <i [attr.data-feather]="item.icon"></i>
            </div>
            <div class="menu__title">{{ item.title }}</div>
          </a>
        </li>
      </ul>
    </div>

    <div class="flex">
      <!-- Side Navigation -->
      <nav class="side-nav">
        <a href="javascript:;" class="intro-x flex items-center pl-5 pt-4">
          <img alt="Logo" class="w-10" src="/assets/template-admin/dist/images/logo.png" />
          <span class="hidden xl:block text-white text-lg ml-3">
            <span class="font-medium">Medika</span>
          </span>
        </a>
        <div class="side-nav__divider my-6"></div>
        <ul>
          <li *ngFor="let item of menuItems">
            <a
              [routerLink]="item.route"
              routerLinkActive="side-menu--active"
              [routerLinkActiveOptions]="{ exact: true }"
              class="side-menu"
            >
              <div class="side-menu__icon">
                <i [attr.data-feather]="item.icon"></i>
              </div>
              <div class="side-menu__title">{{ item.title }}</div>
            </a>
          </li>
        </ul>
      </nav>

      <!-- Main Content -->
      <div class="content">
        <!-- Top Bar -->
        <div class="top-bar">
          <div class="-intro-x breadcrumb mr-auto hidden sm:flex"></div>

          <!-- Account Dropdown -->
          <div appDropdown class="relative inline-block text-left intro-x dropdown w-8 h-8">
            <div class="dropdown-toggle w-8 h-8 rounded-full overflow-hidden shadow-lg image-fit zoom-in">
              <img [src]="currentUser.profilePicture" alt="Profile Picture" />
            </div>
            <div class="dropdown-box mt-3 absolute left-1 top-full z-20 w-64 -translate-x-1 md:left-auto md:right-0 md:translate-x-0" role="menu" aria-orientation="vertical" aria-labelledby="menu-button" tabindex="-1">
              <div class="dropdown-box__content box bg-theme-38 text-white">
                <div class="p-4 border-b border-theme-40">
                  <div class="font-medium">{{ currentUser.name }}</div>
                  <div class="text-xs text-theme-41">Staff</div>
                </div>
                <div class="p-2 border-t border-theme-40">
                  <a (click)="logout()" class="flex items-center p-2 hover:bg-theme-1 rounded-md transition">
                    <i data-feather="toggle-right" class="w-4 h-4 mr-2"></i> Logout
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>

        <router-outlet></router-outlet>

        <!-- Page Title -->
        <h2 class="intro-y text-lg font-medium mt-10" *ngIf="!showDataMedis">List Users</h2>

        <!-- Main Grid -->
        <div class="grid grid-cols-12 gap-6 mt-5" *ngIf="!showDataMedis">
          <!-- Search -->
          <div class="intro-y col-span-12 flex flex-wrap sm:flex-nowrap items-center mt-2">
            <div class="w-full sm:w-auto ml-auto">
              <div class="w-56 relative text-gray-700">
                <input
                  type="text"
                  class="input w-56 box pr-10 placeholder-theme-13"
                  placeholder="Search..."
                  [(ngModel)]="searchQuery"
                  (input)="onSearchChange()"
                />
                <i class="w-4 h-4 absolute my-auto inset-y-0 right-0 mr-3" data-feather="search"></i>
              </div>
            </div>
          </div>

          <!-- Table -->
          <div class="intro-y col-span-12 overflow-auto">
            <table class="table table-report -mt-2">
              <thead>
                <tr>
                  <th class="whitespace-no-wrap">Name</th>
                  <th class="text-center whitespace-no-wrap">Action</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let user of displayedUsers" class="intro-x">
                  <td class="w-40">
                    <div class="font-medium whitespace-no-wrap">
                      {{ user.firstName }} {{ user.lastName }}
                    </div>
                  </td>
                  <td class="table-report__action w-56 text-center">
                    <button
                      *ngIf="user.id"
                      (click)="viewMedicalHistory(user.id!)"
                      class="bg-theme-1 text-white py-2 px-4 rounded-lg hover:bg-theme-3 transition"
                    >
                      View Medical History
                    </button>
                  </td>
                </tr>
                <tr *ngIf="displayedUsers.length === 0" class="intro-x">
                  <td colspan="2" class="text-center">No users found</td>
                </tr>
              </tbody>
            </table>
          </div>

          <!-- Pagination -->
          <div class="intro-y col-span-12 flex flex-wrap sm:flex-row items-center">
            <ul class="pagination">
              <li>
                <a class="pagination__link" href="#" (click)="goToPage($event, 1)">
                  <i data-feather="chevrons-left"></i>
                </a>
              </li>
              <li>
                <a class="pagination__link" href="#" (click)="goToPage($event, currentPage - 1)">
                  <i data-feather="chevron-left"></i>
                </a>
              </li>
              <li *ngIf="currentPage > 2">
                <a class="pagination__link" href="#">...</a>
              </li>
              <li *ngFor="let page of pages">
                <a
                  href="#"
                  class="pagination__link"
                  [class.pagination__link--active]="currentPage === page"
                  (click)="goToPage($event, page)"
                >
                  {{ page }}
                </a>
              </li>
              <li>
                <a class="pagination__link" href="#" (click)="goToPage($event, currentPage + 1)">
                  <i data-feather="chevron-right"></i>
                </a>
              </li>
              <li>
                <a class="pagination__link" href="#" (click)="goToPage($event, totalPages)">
                  <i data-feather="chevrons-right"></i>
                </a>
              </li>
            </ul>
            <select class="w-20 input box mt-3 sm:mt-0 ml-auto" [(ngModel)]="itemsPerPage" (change)="updatePagination()">
              <option value="10">10</option>
              <option value="25">25</option>
              <option value="50">50</option>
            </select>
          </div>
        </div>
      </div>
    </div>
  </div>
</ion-content>
